<div class="card mt-3" style="width:18rem;">
  <img [src]="prd?.imgURL" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{prd?.name}}</h5>
    <div class="card-text">

        <h5>Price:{{prd?.price}}</h5>
        <h5>Quantity:{{prd?.quantity}} </h5>
    </div>
  </div>

  <div class="btn-group">
    <button (click)="goPrevious()" class="btn btn-success" [disabled]="currentPrdID==prdIDList[0]">Previous</button>
    <button (click)="goBack()" class="btn btn-primary">Back</button>
    <button (click)="goNext()" class="btn btn-danger" [disabled]="currentPrdID==prdIDList[prdIDList.length-1]">Next</button>


  </div>
</div>

<div class="mb-3">
    <label for="search">Search product: </label>
    <input type="text" class="form-control" id="search" name="search" #prdName>
    <button (click)="searchProduct(prdName.value)" class="btn btn-primary">Search</button>

</div>