<!-- <h1>Hello php track</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quibusdam libero rem quam inventore quia quas esse, delectus, dolore voluptatibus unde harum earum iusto quod numquam vel dolorum reiciendis quisquam.</p> -->

<!-- Binding -->
<!-- Interpolation=>{{}} -->
<!-- <h1>{{title}}</h1> -->
<!-- <h3>{{sayHello()}}</h3> -->
<app-header></app-header>
<div class="container-fluid">
<div class="row">
    <app-sidebar class="col-sm-3"></app-sidebar>
    <!-- <app-home class="col-sm-9"></app-home> -->
    <app-products class="col-sm-9"></app-products>
</div>
</div>
<app-footer></app-footer>
